@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
  
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #e5e7eb ;
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
};


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;

};

/* Customers */
.mySwiper .swiper-slide {
  width: 360px;
  opacity: 0.3;
  transform: scale(0.85);
  transition: all 0.4s ease;
}

.mySwiper .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}


.label-style {
  @apply block text-sm font-medium text-gray-700 mb-1;
}

.input-style {
  @apply w-full border border-gray-300 rounded-lg px-4 py-3
  text-sm outline-none transition-all duration-300;
}

.input-style:hover {
  @apply border-lime-400;
}

.input-style:focus {
  @apply border-lime-500 ring-2 ring-lime-200;
}




